@import "tailwindcss";

body {
  background-color: linear-gradient(to right, white, gray 50%, white);
  height: 100vh;
  font-family: "Bank Gothic", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Supreme", sans-serif;
  letter-spacing: 3px;
}

@font-face {
  font-family: "Bank Gothic";
  src: url("/src/Fonts/bank-gothic-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/src/Fonts/SUPRRG__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
