@import "tailwindcss";

body {
  background-color: #fafafa;
  height: 100vh;
  font-family: "Bank Gothic", sans-serif;
}

body.night,
main.night {
  background-color: #111111;
  color: white;
}

.card.night {
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

h1,
h2,
h3 {
  font-family: "Supreme", sans-serif;
  letter-spacing: 3px;
}

@font-face {
  font-family: "Bank Gothic";
  src: url("/src/Fonts/bank-gothic-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Supreme";
  src: url("/src/Fonts/SUPRRG__.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}
